﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KawsProj</h1>
    <p class="lead">A project for professionals to organize their appointments and tickets </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Appointment page</h2>
        <p>
            This page will be used for making appointment requests. Appointments will be between 5 and 9 pm every 15 minutes. User will register for the website and
            book an appointment for him/herself. Calendar view will be used for this section and full days will be highlighted red and available days will be
            highlighted green. There will be only one request permission for all users.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Appointment page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ticket page 1</h2>
        <p>
            In this section, customers will send their questions to the professional and he/she will answer a certain amount of questions eveyday.
            This amount will be adjustable
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Tickets page 1 »</a>th</p>
    </div>
    <div class="col-md-4">
        <h2>Ticket page 2</h2>
        <p>Customers will be able to ask urgent questions from this section. There will be no quota for this section. All questions will be answered daily.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Urgent Tickets &raquo;</a></p>
    </div>
</div>